
.container {
  /* color:#c9ccea; */
  color: rgb(39,42,85);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(39,42,85);
  background: #d2f15d; 
}

.title_name {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 60px;
  color: #3612ec;
  /* color:aqua */
}

.sub_title {
  color: #3612ec
}

.font-link {
  font-family: 'Bebas Neue', cursive;
  font-family: 'Oooh Baby', cursive;
}

Button {
  background-color: #d0c7ff;
  border-radius: 14px
}

.input-wrapper input {
  height: 30px;
  width: 30px;
  padding: 2rem;
  background-color: #d0c7ff;
  color:#d2f15d;
  border: none;
  border-radius: 50%;
  margin-right: 0.3rem;
  text-align: center;
  font-size: 14pt;
}

.container .labels {
  list-style: none;
  display: flex;
  text-transform: uppercase;
  font-size: .8rem;
  padding:.3rem .3rem;
  background-color: #d0c7ff;
  border-radius: 1.5rem;
}